rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read/write their own user doc
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Relationship members can read/write their relationship
    match /relationships/{relationshipId} {
      allow create: if request.auth != null;
      allow read, write: if request.auth.uid in resource.data.users;
    }

    // All authenticated users can read and update prompts
    match /prompts/{promptId} {
      allow read, update: if request.auth != null;
    }

    // Relationship members can read/write their weekly prompts
    match /weeklyPrompts/{weekPromptId} {
      allow create: if request.auth != null;
      allow read, write: if request.auth.uid in get(/databases/$(database)/documents/relationships/$(resource.data.relationshipId)).data.users;
    }

    // Relationship members can read/write their daily prompts
    match /dailyPrompts/{dayPromptId} {
      allow create: if request.auth != null;
      allow read, write: if request.auth.uid in get(/databases/$(database)/documents/relationships/$(resource.data.relationshipId)).data.users;
    }
  }
}
